name: Auto-merge Dependabot

on:
  pull_request_target:
    types: [opened, labeled, synchronize]

jobs:
  automerge:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Enable automerge for Dependabot PRs
        uses: pascalgn/automerge-action@v0.16.4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          merge_method: squash
          # Only merge if CI is successful
          merge_when_build_succeeds: true
